.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: aquamarine;
  justify-content: center;
}
.menu li a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
}

.cat-thumb {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}

footer {
  background-color: #148be0;
}
